.gitattributes export-ignore
/files/racksdirections.zip export-ignore
/misc/GPLv3.0.svg export-ignore
/misc/RacksDirections_reversed_rack_view.png export-ignore
/misc/RacksDirections_tab.png export-ignore
/misc export-ignore
